#visualisation {
    position: relative;
}

.metagenomics-sankey h3 {
    font-size: 24px;
    margin: 0;
    padding: 15px 0 15px 0;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

.metagenomics-sankey body {
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.metagenomics-sankey ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.metagenomics-sankey input,
.metagenomics-sankey select,
.metagenomics-sankey select.dataTable-selector {
    min-width: 25%;
    cursor: pointer;
    margin: 0;
    position: relative;
    margin-top: 5px;
    outline: none;
    background-color: #0079a4;
    padding: 15px 25px;
    border: 2px solid #0079a4;
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    border-radius: 4px;
    letter-spacing: 0.05em;
    transition: 0.2s ease-in-out all;
    font-weight: bold;
    /* for Firefox */
    appearance: none;
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}

.metagenomics-sankey input {
    border: 2px solid #0079a4;
    background-color: white;
    color: #0079a4;
}

.metagenomics-sankey input::placeholder {
    color: #0079a4;
}

.metagenomics-sankey select:hover {
    background-color: #0079a4;
    color: white
}

.metagenomics-sankey option {
    color: black
}

.metagenomics-sankey button {
    white-space: nowrap;
    cursor: pointer;
    margin: 0;
    position: relative;
    outline: none;
    background-color: transparent;
    padding: 15px 15px;
    border: 2px solid #0079a4;
    color: #0079a4;
    text-transform: uppercase;
    font-size: 11px;
    border-radius: 4px;
    /* font-weight: bold; */
    letter-spacing: 0.05em;
    transition: 0.2s ease-in-out all;
    font-weight: bold;
    /* for Firefox */
    appearance: none;
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}

.metagenomics-sankey button:hover {
    background-color: #0079a4;
    color: white
}

.metagenomics-sankey label {
    color: black;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: normal;
    letter-spacing: 0.05em;
}

.metagenomics-sankey main {
    width: 100%;
    /* padding: 50px; */
    margin: 0 auto;
}


.metagenomics-sankey #controls-sankey ul {
    display: flex;
    flex-wrap: wrap;
}

.metagenomics-sankey #controls-sankey ul li {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    margin: 0 15px 0 0;
    justify-content: end;
}

/* Options button */
.metagenomics-sankey #controls-sankey .dropbtn {
    background-color: white;
    min-width: 100%;
    color: #0079a4;
    padding: 15px 25px;
    margin-top: 5px;
    font-size: 11px;
    border: 2px solid #0079a4;
}

.metagenomics-sankey #controls-sankey .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1;
    min-width: 100%;
}

/* Options in the dropdown menu */
.metagenomics-sankey #controls-sankey .dropdown:hover .dropdown-content {
    display: block;
    border: 2px solid #0079a4;
    border-radius: 4px;
    background-color: white;
    min-width: 100%;
}

/* Options in the dropdown menu */
.metagenomics-sankey #controls-sankey .dropdown-content button {
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    outline: none;
    background-color: transparent;
    color: #0079a4;
    border: 0px;
    padding: 0px;
    padding-left: 5px;
    border-radius: 0px;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.05em;
    font-weight: normal;
    text-align: left;
    min-width: 100%;
}

/* Hover to highlight options in the dropdown menu */
.metagenomics-sankey #controls-sankey .dropdown-content button:hover {
    background-color: #0079a4;
    color: white
}

/* Add scrollbars when viewport is less than 900px wide */
@media (max-width: 950px) {
    #sankey-plot {
        overflow-x: auto;
    }
}