:root {
    --circle-check-solid-blue: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj4KICA8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMjkuMy4xLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogMi4xLjAgQnVpbGQgMTUxKSAgLS0+CiAgPGRlZnM+CiAgICA8c3R5bGU+CiAgICAgIC5zdDAgewogICAgICAgIGZpbGw6ICMwMDdmYTk7CiAgICAgIH0KICAgIDwvc3R5bGU+CiAgPC9kZWZzPgogIDxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0yNTYsNTEyYzE0MS4zOCwwLDI1Ni0xMTQuNjIsMjU2LTI1NlMzOTcuMzgsMCwyNTYsMCwwLDExNC42MiwwLDI1NnMxMTQuNjIsMjU2LDI1NiwyNTZaTTM2OSwyMDlsLTEyOCwxMjhjLTkuNCw5LjQtMjQuNiw5LjQtMzMuOSwwbC02NC02NGMtOS40LTkuNC05LjQtMjQuNiwwLTMzLjlzMjQuNi05LjQsMzMuOSwwbDQ3LDQ3LDExMS0xMTEuMWM5LjQtOS40LDI0LjYtOS40LDMzLjksMHM5LjQsMjQuNiwwLDMzLjlsLjEuMVoiLz4KPC9zdmc+');
    --circle-check-solid-white: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9IiNm ZmZmZmYiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48IS0tISBGb250IEF3ZXNvbWUg UHJvIDYuNC4yIGJ5IEBmb250YXdlc29tZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUu Y29tIExpY2Vuc2UgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbS9saWNlbnNlIChD b21tZXJjaWFsIExpY2Vuc2UpIENvcHlyaWdodCAyMDIzIEZvbnRpY29ucywgSW5j LiAtLT48cGF0aCBkPSJNMjU2IDUxMkEyNTYgMjU2IDAgMSAwIDI1NiAwYTI1NiAy NTYgMCAxIDAgMCA1MTJ6TTM2OSAyMDlMMjQxIDMzN2MtOS40IDkuNC0yNC42IDku NC0zMy45IDBsLTY0LTY0Yy05LjQtOS40LTkuNC0yNC42IDAtMzMuOXMyNC42LTku NCAzMy45IDBsNDcgNDdMMzM1IDE3NWM5LjQtOS40IDI0LjYtOS40IDMzLjkgMHM5 LjQgMjQuNiAwIDMzLjl6Ii8+PC9zdmc+Cg==');
    --circle-exclamation-solid-red: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9IiNj MjI5MzIiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48IS0tISBGb250IEF3ZXNvbWUg UHJvIDYuNC4yIGJ5IEBmb250YXdlc29tZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUu Y29tIExpY2Vuc2UgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbS9saWNlbnNlIChD b21tZXJjaWFsIExpY2Vuc2UpIENvcHlyaWdodCAyMDIzIEZvbnRpY29ucywgSW5j LiAtLT48cGF0aCBkPSJNMjU2IDUxMkEyNTYgMjU2IDAgMSAwIDI1NiAwYTI1NiAy NTYgMCAxIDAgMCA1MTJ6bTAtMzg0YzEzLjMgMCAyNCAxMC43IDI0IDI0VjI2NGMw IDEzLjMtMTAuNyAyNC0yNCAyNHMtMjQtMTAuNy0yNC0yNFYxNTJjMC0xMy4zIDEw LjctMjQgMjQtMjR6TTIyNCAzNTJhMzIgMzIgMCAxIDEgNjQgMCAzMiAzMiAwIDEg MSAtNjQgMHoiLz48L3N2Zz4=');
    --circle-exclamation-solid-white: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9IiNm ZmZmZmYiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48IS0tISBGb250IEF3ZXNvbWUg UHJvIDYuNC4yIGJ5IEBmb250YXdlc29tZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUu Y29tIExpY2Vuc2UgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbS9saWNlbnNlIChD b21tZXJjaWFsIExpY2Vuc2UpIENvcHlyaWdodCAyMDIzIEZvbnRpY29ucywgSW5j LiAtLT48cGF0aCBkPSJNMjU2IDUxMkEyNTYgMjU2IDAgMSAwIDI1NiAwYTI1NiAy NTYgMCAxIDAgMCA1MTJ6bTAtMzg0YzEzLjMgMCAyNCAxMC43IDI0IDI0VjI2NGMw IDEzLjMtMTAuNyAyNC0yNCAyNHMtMjQtMTAuNy0yNC0yNFYxNTJjMC0xMy4zIDEw LjctMjQgMjQtMjR6TTIyNCAzNTJhMzIgMzIgMCAxIDEgNjQgMCAzMiAzMiAwIDEg MSAtNjQgMHoiLz48L3N2Zz4=');
    --circle-minus-solid-neutral-cool: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9IiM0 YjViNjciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48IS0tISBGb250IEF3ZXNvbWUg UHJvIDYuNC4yIGJ5IEBmb250YXdlc29tZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUu Y29tIExpY2Vuc2UgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbS9saWNlbnNlIChD b21tZXJjaWFsIExpY2Vuc2UpIENvcHlyaWdodCAyMDIzIEZvbnRpY29ucywgSW5j LiAtLT48cGF0aCBkPSJNMjU2IDUxMkEyNTYgMjU2IDAgMSAwIDI1NiAwYTI1NiAy NTYgMCAxIDAgMCA1MTJ6TTE4NCAyMzJIMzI4YzEzLjMgMCAyNCAxMC43IDI0IDI0 cy0xMC43IDI0LTI0IDI0SDE4NGMtMTMuMyAwLTI0LTEwLjctMjQtMjRzMTAuNy0y NCAyNC0yNHoiLz48L3N2Zz4K');
    --circle-minus-solid-white: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9IiNm ZmZmZmYiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48IS0tISBGb250IEF3ZXNvbWUg UHJvIDYuNC4yIGJ5IEBmb250YXdlc29tZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUu Y29tIExpY2Vuc2UgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbS9saWNlbnNlIChD b21tZXJjaWFsIExpY2Vuc2UpIENvcHlyaWdodCAyMDIzIEZvbnRpY29ucywgSW5j LiAtLT48cGF0aCBkPSJNMjU2IDUxMkEyNTYgMjU2IDAgMSAwIDI1NiAwYTI1NiAy NTYgMCAxIDAgMCA1MTJ6TTE4NCAyMzJIMzI4YzEzLjMgMCAyNCAxMC43IDI0IDI0 cy0xMC43IDI0LTI0IDI0SDE4NGMtMTMuMyAwLTI0LTEwLjctMjQtMjRzMTAuNy0y NCAyNC0yNHoiLz48L3N2Zz4=');
    --bs-table-striped-bg: #d9dfe3; 
    --neutral-mono-0: #ffffff;
    --neutral-mono-100: #f8f8f8;
    --neutral-mono-200: #eeeeee;
    --neutral-mono-300: #dfdfdf;
    --neutral-mono-400: #d2d2d2;
    --neutral-mono-500: #c3c3c3;
    --neutral-mono-600: #b7b7b7;
    --neutral-mono-700: #a0a0a0;
    --neutral-mono-800: #8c8c8c;
    --neutral-mono-900: #757575;
    --neutral-mono-1000: #666666;
    --neutral-mono-1100: #595959;
    --neutral-mono-1200: #4c4c4c;
    --neutral-mono-1300: #3c3c3c;
    --neutral-mono-1400: #313131;
    --neutral-mono-1500: #242424;
    --neutral-mono-1600: #000000;
    --neutral-cool-100: #f8f9fa;
    --neutral-cool-200: #edeff1;
    --neutral-cool-300: #d9dfe3;
    --neutral-cool-400: #ccd4d9;
    --neutral-cool-500: #bac5cd;
    --neutral-cool-600: #acb9c3;
    --neutral-cool-700: #91a3af;
    --neutral-cool-800: #7d8f9b;
    --neutral-cool-900: #677884;
    --neutral-cool-1000: #586874;
    --neutral-cool-1100: #4b5b67;
    --neutral-cool-1200: #3f4e58;
    --neutral-cool-1300: #323d45;
    --neutral-cool-1400: #293239;
    --neutral-cool-1500: #1e252a;
    --neutral-warm-100: #f9f8f8;
    --neutral-warm-200: #efeeec;
    --neutral-warm-300: #e1dedc;
    --neutral-warm-400: #d6d2ce;
    --neutral-warm-500: #c8c3be;
    --neutral-warm-600: #bcb6b0;
    --neutral-warm-700: #a69f99;
    --neutral-warm-800: #918b86;
    --neutral-warm-900: #7a7571;
    --neutral-warm-1000: #6a6661;
    --neutral-warm-1100: #5c5855;
    --neutral-warm-1200: #4f4b48;
    --neutral-warm-1300: #3e3c39;
    --neutral-warm-1400: #32312f;
    --neutral-warm-1500: #252422;
    --red-100: #fef6f6;
    --red-200: #fdebea;
    --red-300: #fbd6d4;
    --red-400: #fac6c2;
    --red-500: #f8b2ad;
    --red-600: #f7a19b;
    --red-700: #f47d75;
    --red-800: #f1584e;
    --red-900: #db3734;
    --red-1000: #c22932;
    --red-1100: #b01917;
    --red-1200: #9a0e03;
    --red-1300: #7c0b02;
    --red-1400: #660902;
    --red-1500: #4e0701;
    --orange-100: #fef7f1;
    --orange-200: #fdecde;
    --orange-300: #fed9b8;
    --orange-400: #fec897;
    --orange-500: #ffb36d;
    --orange-600: #fda24f;
    --orange-700: #eb872c;
    --orange-800: #d96f13;
    --orange-900: #c15703;
    --orange-1000: #ac4806;
    --orange-1100: #983c09;
    --orange-1200: #882e07;
    --orange-1300: #741b04;
    --orange-1400: #650d02;
    --orange-1500: #510000;
    --yellow-100: #fef8e4;
    --yellow-200: #fceec3;
    --yellow-300: #f8dd87;
    --yellow-400: #f6cf55;
    --yellow-500: #e8bf42;
    --yellow-600: #dbb23b;
    --yellow-700: #c59a2f;
    --yellow-800: #b08525;
    --yellow-900: #9a6e19;
    --yellow-1000: #8a5d10;
    --yellow-1100: #7c4f09;
    --yellow-1200: #6e4202;
    --yellow-1300: #593400;
    --yellow-1400: #492a00;
    --yellow-1500: #361f00;
    --blue-cerulean-100: #f2f9fb;
    --blue-cerulean-200: #e2f1f5;
    --blue-cerulean-300: #c7e4ec;
    --blue-cerulean-400: #b0d9e4;
    --blue-cerulean-500: #96ccdc;
    --blue-cerulean-600: #7fc1d4;
    --blue-cerulean-700: #53acc5;
    --blue-cerulean-800: #2a98b7;
    --blue-cerulean-900: #0080a3;
    --blue-cerulean-1000: #006f8f;
    --blue-cerulean-1100: #00617c;
    --blue-cerulean-1200: #00526a;
    --blue-cerulean-1300: #004254;
    --blue-cerulean-1400: #003645;
    --blue-cerulean-1500: #002834;
    --blue-royal-100: #f5fafb;
    --blue-royal-200: #e4f1f5;
    --blue-royal-300: #c9e3f0;
    --blue-royal-400: #b3d8ed;
    --blue-royal-500: #98cae8;
    --blue-royal-600: #88bee0;
    --blue-royal-700: #6ea7ca;
    --blue-royal-800: #5893b6;
    --blue-royal-900: #407ca1;
    --blue-royal-1000: #2e6c92;
    --blue-royal-1100: #205e85;
    --blue-royal-1200: #115078;
    --blue-royal-1300: #003f62;
    --blue-royal-1400: #003450;
    --blue-royal-1500: #00273b;
    --green-peppermint-100: #f2fbf7;
    --green-peppermint-200: #daf4eb;
    --green-peppermint-300: #b8ead6;
    --green-peppermint-400: #9ae1c4;
    --green-peppermint-500: #73d6ad;
    --green-peppermint-600: #50cc98;
    --green-peppermint-700: #16b773;
    --green-peppermint-800: #0fa068;
    --green-peppermint-900: #08865c;
    --green-peppermint-1000: #017645;
    --green-peppermint-1100: #066646;
    --green-peppermint-1200: #05573c;
    --green-peppermint-1300: #044630;
    --green-peppermint-1400: #033827;
    --green-peppermint-1500: #032a1d;
    --green-sage-100: #f3faf9;
    --green-sage-200: #e2f3f1;
    --green-sage-300: #c3e6e3;
    --green-sage-400: #acdcd8;
    --green-sage-500: #8cd0cb;
    --green-sage-600: #71c5bf;
    --green-sage-700: #51afa9;
    --green-sage-800: #3a9a96;
    --green-sage-900: #258280;
    --green-sage-1000: #197270;
    --green-sage-1100: #126363;
    --green-sage-1200: #0d5454;
    --green-sage-1300: #094343;
    --green-sage-1400: #073737;
    --green-sage-1500: #052928;
    --lime-100: #fbf9e6;
    --lime-200: #f4f0c0;
    --lime-300: #e8e294;
    --lime-400: #dbd58b;
    --lime-500: #cbc681;
    --lime-600: #bfba7a;
    --lime-700: #a7a36a;
    --lime-800: #928e5d;
    --lime-900: #7b774e;
    --lime-1000: #6a6844;
    --lime-1100: #5d5a3b;
    --lime-1200: #4f4d32;
    --lime-1300: #3f3d28;
    --lime-1400: #333120;
    --lime-1500: #252418;
    --purple-100: #fcf8fb;
    --purple-200: #f6ecf5;
    --purple-300: #edd9ea;
    --purple-400: #e6cbe3;
    --purple-500: #deb8d8;
    --purple-600: #d7a9d0;
    --purple-700: #c98dc1;
    --purple-800: #bd73b3;
    --purple-900: #af54a2;
    --purple-1000: #a33e95;
    --purple-1100: #8e3682;
    --purple-1200: #792e6f;
    --purple-1300: #602558;
    --purple-1400: #4f1e49;
    --purple-1500: #3b1636;
}

// Adjust corners
$border-radius: 0.2rem !default;
$enable-negative-margins: true;

$primary:       #b0d9e4 !default;
$secondary:     #00526a !default;
$dark:          #007FA9 !default;
$warning:       #ac4806 !default;
$danger:        #c22932 !default;
$success:       #008571 !default;

$body-bg: #f9f9f9e4 !default;

@import "data/vendor/bootstrap-5.3.0/scss/bootstrap.scss";

@page { min-width: 768px; margin: 0px }

@media print {
    .pagebreak { page-break-before: always; margin-top: 5rem !important; }
    .mb-5 { margin-bottom: 1rem !important; }
    body {
      margin: 0;
      padding: 0 !important;
      min-width: 768px;
      zoom: 0.7;
    }
    .container {
      width: auto;
      min-width: 768px;
    }
    .col-xs-12 {
      width:50%;
      float:left;
    }
}

.container {
    width: 95% !important;
    max-width: 1600px !important;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Logo sizing

#logo {
    width: 100%;
    height: auto;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    border-bottom: 3px solid #FFFFFF !important;
    background-color: transparent !important;
    border-radius: 0px !important;
}

.nav-link {
    border-bottom: 3px solid transparent !important;
    background-color: transparent !important;
    border-radius: 0px !important;
}

hr {
    border: 2px solid var(--neutral-mono-1000);
}

// Icons

.btn-close {
    background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 0.375C5.57812 0.375 0.375 5.57812 0.375 12C0.375 18.4219 5.57812 23.625 12 23.625C18.4219 23.625 23.625 18.4219 23.625 12C23.625 5.57812 18.4219 0.375 12 0.375ZM17.7 15.0516C17.9203 15.2719 17.9203 15.6281 17.7 15.8484L15.8438 17.7C15.6234 17.9203 15.2672 17.9203 15.0469 17.7L12 14.625L8.94844 17.7C8.72812 17.9203 8.37187 17.9203 8.15156 17.7L6.3 15.8438C6.07969 15.6234 6.07969 15.2672 6.3 15.0469L9.375 12L6.3 8.94844C6.07969 8.72812 6.07969 8.37187 6.3 8.15156L8.15625 6.29531C8.37656 6.075 8.73281 6.075 8.95312 6.29531L12 9.375L15.0516 6.3C15.2719 6.07969 15.6281 6.07969 15.8484 6.3L17.7047 8.15625C17.925 8.37656 17.925 8.73281 17.7047 8.95312L14.625 12L17.7 15.0516Z' fill='%23f7f7f7'/%3E%3C/svg%3E%0A") !important;
}

.btn-info {
    @extend .btn-close;
    background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 0.375C5.58014 0.375 0.375 5.58202 0.375 12C0.375 18.4217 5.58014 23.625 12 23.625C18.4199 23.625 23.625 18.4217 23.625 12C23.625 5.58202 18.4199 0.375 12 0.375ZM12 5.53125C13.0873 5.53125 13.9688 6.41269 13.9688 7.5C13.9688 8.58731 13.0873 9.46875 12 9.46875C10.9127 9.46875 10.0312 8.58731 10.0312 7.5C10.0312 6.41269 10.9127 5.53125 12 5.53125ZM14.625 17.4375C14.625 17.7481 14.3731 18 14.0625 18H9.9375C9.62686 18 9.375 17.7481 9.375 17.4375V16.3125C9.375 16.0019 9.62686 15.75 9.9375 15.75H10.5V12.75H9.9375C9.62686 12.75 9.375 12.4981 9.375 12.1875V11.0625C9.375 10.7519 9.62686 10.5 9.9375 10.5H12.9375C13.2481 10.5 13.5 10.7519 13.5 11.0625V15.75H14.0625C14.3731 15.75 14.625 16.0019 14.625 16.3125V17.4375Z' fill='%23333333'/%3E%3C/svg%3E%0A") !important;
}

.btn-detail {
    color: var(--blue-royal-1200);
    background-color: white;
    font-weight: bold;
    font-size: 0.8em;
}

// Alerts

.alert-danger {
    border: none;
    color: #ffffff;
    background-color: $danger;
}

.alert-success {
    border: none;
    color: #ffffff;
    background-color: $dark;
}

// Badges

.badge-icon-solid {
    background-position: 12% !important;
    background-repeat: no-repeat !important;
    color: white !important;
    padding-left: 2em !important;
    background-size: 1.2em !important;
}

.badge-icon {
    background-position: 12% !important;
    background-color: white !important;
    background-repeat: no-repeat !important;
    padding-left: 2em !important;
    background-size: 1.2em !important;
}

.badge-fail-solid {
    background-color: $danger !important;
    background-image: var(--circle-exclamation-solid-white) !important;
    background-position: 0.5em !important;
}

.badge-unknown-solid {
    background-color: var(--orange-700) !important;
    background-image: var(--circle-minus-solid-white) !important;
    background-position: 0.5em !important;
}

.badge-pass-solid {
    background-color: $dark !important;
    background-image: var(--circle-check-solid-white) !important;
    background-position: 0.5em !important;
}

.badge-fail {
    color: $danger !important;
    background-image: var(--circle-exclamation-solid-red) !important;
}

.badge-unknown {
    color: var(--orange-700) !important;
    background-image: var(--circle-minus-solid-neutral-cool) !important;
}

.badge-pass {
    color: $dark !important;
    background-image: var(--circle-check-solid-blue) !important;
}


.badge-amr {
    text-transform: uppercase;
    border-radius: .1rem;
    font-size: 0.8em;
    padding: 3px 5px;
    width: 40px;
}

.badge-resistance {
    background-color: var(--red-1000);
    color: white;
}

.badge-undetermined {
    background-color: var(--orange-200);
    color: var(--orange-900);
    border: 1px solid var(--orange-1000);
}

.badge-no-resistance {
    background-color: var(--blue-royal-300);
    color: var(--blue-royal-1300);
}

.badge-none {
    background-color: var(--neutral-cool-200);
    color: var(--neutral-cool-1000);
}


// Stats

.stats-neutral {
    background-color: var(--blue-royal-200);
    color: var(--blue-royal-1300);
}

.stats-success {
    background-color: var(--green-sage-200);
    color: var(--green-sage-900);
}
.stats-danger {
    background-color: var(--red-200);
    color: var(--red-900);
}

.stats-value {
    line-height: 0.5 !important;
}


// List groups

.list-lead-pass {
    color: white;
    background-color: $dark;
    border: 1px solid $dark;
}

.list-lead-fail {
    color: white;
    background-color: var(--red-1000);
    border: 1px solid var(--red-1000);
}

.list-foot-fail {
    color: white;
    background-color: var(--red-1000);
    border: 1px solid var(--red-1000);
}

.list-foot-pass {
    color: white;
    background-color: $dark;
    border: 1px solid $dark;
}

// Card stuff 
.card {
    border: 1px solid var(--neutral-cool-200) !important;
}

.card-header{
    background-color: var(--neutral-cool-200) !important;
    color: var(--neutral-cool-1400) !important;
    border-bottom: None !important;
}

.card-header-fail{
    background-color: var(--red-200) !important;
    color: var(--neutral-cool-1400) !important;
    border-bottom: None !important;
}

.card-body{
    background-color: #ffffff !important;
}


// Modals

.modal {
    border-radius: 0px !important;
}

.modal-content {
    border-radius: 0px !important;
}

.modal-header{
    background-color: var(--blue-royal-1300) !important;
    color: var(--neutral-cool-200) !important;
    border-radius: 0px !important;
    padding-left: 1em;
    padding-right: 2em;
}

// Off canvas stuff

.offcanvas-header{
    background-color: var(--blue-royal-1300) !important;
    color: var(--neutral-cool-200) !important;
    padding-left: 2em;
    padding-right: 2em;
}

.table{
    margin-top: 1em;
    margin-bottom: 2em;
}

thead{
    background-color: var(--neutral-cool-800) !important;
    border: 1px solid var(--neutral-cool-800);
    color: white;
}

body{
    font-family: 'Noto Sans';
}

h2 {
    position: relative;
    font-size: 2.3em; /* Adjust the font size as needed */
    font-weight: bold !important;
    display: flex;
    align-items: center; /* Vertically centers the text and symbol */
  }
